<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/889d2ea3-6e88-4a47-a177-d3ed223f2973/resourceGroups/myResourceGroup/providers/Microsoft.Web/sites/TechnicalFounders-Items</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://technicalfounders-items.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>technicalfounders-items.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TechnicalFounders-Items</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TechnicalFounders-Items</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>